<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dodaj trenera</title>
</head>
<body>
<div class="container">


    <p class="h4 mb-4">Zapisz Trenera</p>
            <form action="#" th:action="save"
                            th:object="${coach}" method="POST" >
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <input type="text" th:field="*{firstName}" class="form-control"  placeholder="Imie">
            </div>
            <div class="form-group">
                <input type="text" th:field="*{lastName}" class="form-control"  placeholder="Nazwisko">
            </div>
            <div class="form-group">
                <input th:field="*{birthDate}" class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
            <button type="submit" class="btn btn-info btn-sm">Zapisz</button>
        </form>
</div>
</body>
</html>