<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Zawody</title>

</head>
<table class="table table-hover table-dark">
    <thead>
    <tr >
        <th scope="col">Miejsce</th>
        <th scope="col">Skoczek</th>
        <th scope="col">Pierwszy skok</th>
        <th scope="col">Drugi skok</th>
        <th scope="col">Punkty</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message,iter : ${starts}">
        <th th:text = "${iter.index + 1}" ></th>
        <td th:text="${message.jumper}" ></td>
        <td th:text="${message.first_jump}" ></td>
        <td th:text="${message.second_jump}" ></td>
        <td th:text="${message.points}" ></td>


    </tr>

    </tr>
    </tbody>

</table>
</body>
</html>