<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="/css/admin.css" />
    <title>Zawody</title>

</head>
<body> <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/admin/}"> Strona główna </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/coaches/}"> Trenerzy </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/teams/}"> Druzyny </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/jumpers/}"> Skoczkowie </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/hills/}"> Skocznie </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/competitions/}"> Zawody </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/tournees/}"> Turnieje </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/users/}"> Uzytkownicy </a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" th:href="@{#}"> SKOKI - ADMIN </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li th:if="${user}" class="nav-item">
                <a class="nav-link" th:href="@{#}" th:text="${'Zalogowany jako:' + ' ' + user.username + ' (' + user.email + ')'}" />
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" th:text="${'Wyloguj'}" />
            </li>
        </ul>
    </div>
</nav>
<table class="table table-hover table-dark">
    <thead>
    <tr >
        <th scope="col">Miejsce</th>
        <th scope="col">Skoczek</th>
        <th scope="col">Pierwszy skok</th>
        <th scope="col">Drugi skok</th>
        <th scope="col">Punkty</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message,iter : ${starts}">
        <th th:text = "${iter.index + 1}" ></th>
        <td th:text="${message.jumper}" ></td>
        <td th:text="${message.first_jump}" ></td>
        <td th:text="${message.second_jump}" ></td>
        <td th:text="${message.points}" ></td>


    </tr>

    </tr>
    </tbody>

</table>
<footer class="fixed-bottom">
    <div class="container text-center font-italic">
        <p class="h3"> © 2019 Copyright: <a class="text-warning font-weight-bold" th:href="@{https://github.com/Gorgios}"> GORGIOS </a></p>
    </div>
</footer>
</body>
</html>