<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="/css/admin.css" />
    <title>Skoczkowie</title>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/admin/}"> Strona główna </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/coaches/}"> Trenerzy </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/teams/}"> Druzyny </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/jumpers/}"> Skoczkowie </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/hills/}"> Skocznie </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/competitions/}"> Zawody </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/tournees/}"> Turnieje </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/users/}"> Uzytkownicy </a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" th:href="@{#}"> SKOKI - ADMIN </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li th:if="${user}" class="nav-item">
                <a class="nav-link" th:href="@{#}" th:text="${'Zalogowany jako:' + ' ' + user.username + ' (' + user.email + ')'}" />
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" th:text="${'Wyloguj'}" />
            </li>
        </ul>
    </div>
</nav>
<a th:href="@{/admin/jumpers/addJumper}"
   class="btn btn-info btn-sm dodaj">
    Dodaj skoczka
</a>
<table class="table table-hover table-dark">
    <thead>
    <tr >
        <th scope="col">#</th>
        <th scope="col">Imie</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Data urodzenia</th>
        <th scope="col">Druzyna</th>
        <th scope="col">Sila wybicia</th>
        <th scope="col">Technika lotu</th>
        <th scope="col">Technika ladowania</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <th scope="row" th:text="${message.id}" ></th>
        <td th:text="${message.firstName}"></td>
        <td th:text="${message.lastName}"></td>
        <th scope="row" th:text="${message.birthDate}" ></th>
        <td th:text="${message.getTeam().name}"></td>
        <td th:text="${message.takeOf}"></td>
        <td th:text="${message.technique}"></td>
        <td th:text="${message.landing}"></td>

        <td>
            <div class="row">
                <div class="col-small">
                    <form action="#" th:action="@{/admin/jumpers/updateJumper}" method="POST">

                        <input type="hidden" name="jumperId" th:value="${message.id}" />
                        <button type="submit" class="btn btn-info btn-sm">Modyfikuj</button>

                    </form>
                </div>
                <div class="col-small">

                    <form action="#" th:action="@{/admin/jumpers/delete}" method="POST">

                        <input type="hidden" name="jumperId" th:value="${message.id}" />
                        <button type="submit" class="btn btn-danger btn-sm"
                                onclick="if (!(confirm('Czy na pewno chcesz usunac druzyne?'))) return false">
                            Delete
                        </button>

                    </form>
                </div>
            </div>
        </td>
    </tr>
    </tbody>

</table>
<footer class="fixed-bottom">
    <div class="container text-center font-italic">
        <p class="h3"> © 2019 Copyright: <a class="text-warning font-weight-bold" th:href="@{https://github.com/Gorgios}"> GORGIOS </a></p>
    </div>
</footer>
</body>
</html>