<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Skoczkowiey</title>

</head>
<body>
<a th:href="@{/admin/jumpers/addJumper}"
   class="btn btn-primary btn-sm mb-3">
    Dodaj skoczka
</a>
<table class="table table-hover table-dark">
    <thead>
    <tr >
        <th scope="col">#</th>
        <th scope="col">Imie</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Data urodzenia</th>
        <th scope="col">Druzyna</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <th scope="row" th:text="${message.id}" ></th>
        <td th:text="${message.firstName}"></td>
        <td th:text="${message.lastName}"></td>
        <th scope="row" th:text="${message.birthDate}" ></th>
        <td th:text="${message.getTeam().name}"></td>

        <td>
            <div class="row">
                <div class="col-small">
                    <form action="#" th:action="@{/admin/jumpers/updateJumper}" method="POST">

                        <input type="hidden" name="teamId" th:value="${message.id}" />
                        <button type="submit" class="btn btn-info btn-sm">Modyfikuj</button>

                    </form>
                </div>
                <div class="col-small">

                    <form action="#" th:action="@{/admin/jumpers/delete}" method="POST">

                        <input type="hidden" name="teamId" th:value="${message.id}" />
                        <button type="submit" class="btn btn-danger btn-sm"
                                onclick="if (!(confirm('Czy na pewno chcesz usunac druzyne?'))) return false">
                            Delete
                        </button>

                    </form>
                </div>
            </div>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>