<!DOCTYPE html>
<html lang = "pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Skoczek </title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="../css/jumper.css" />
    <script src="/js/main.js"></script>
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/jumper/}"> Strona główna </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/jumper/showData}"> Moje dane </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/jumper/training}"> Trening </a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" th:href="@{#}" th:text="${jumper}">  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li th:if="${user}" class="nav-item">
                <a class="nav-link" th:href="@{#}" th:text="${'Zalogowany jako:' + ' ' + user.username + ' (' + user.email + ')'}" />
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" th:text="${'Wyloguj'}" />
            </li>
        </ul>
    </div>
</nav>
<h1 >Twoje dane </h1>
    <div class="tableContener" >
    <table class="table table-hover table-active">
        <tr  >
            <th scope="col">Imie</th>
            <th th:text="${message.firstName}"></th>
        </tr>
        <tr >
            <th scope="col">Nazwisko</th>
            <th th:text="${message.lastName}"></th>
        </tr>
        <tr >
            <th scope="col">Data urodzenia</th>
            <th scope="row" th:text="${message.birthDate}" ></th>
        </tr>
        <tr >
            <th scope="col">Druzyna</th>
            <th th:text="${message.getTeam().name}"></th>
        </tr>
        <tr >
            <th scope="col">Sila wybicia</th>
            <th th:text="${message.takeOf}"></th>
        </tr>
        <tr>
            <th scope="col">Technika lotu</th>
            <th th:text="${message.technique}"></th>
        </tr>
        <tr>
            <th scope="col">Technika ladowania</th>
            <th th:text="${message.landing}"></th>
        </tr>
        <tr >
            <th scope="col">Nazwa uzytkownika</th>
            <th th:text="${user.username}"></th>
        </tr>
        <tr >
            <th scope="col">Email</th>
            <th th:text="${user.email}"></th>
        </tr>
    </table>
    </div>
<button type="button" id="myModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal">AKTUALIZUJ</button>
<form action="#" th:action="@{/jumper/updateJumper}" method="POST">
<div id="updt" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <input type="hidden" th:field="*{user.id}" />
            <label class="form-control-label"> Zmień nazwę użytkownika: </label>
            <input type="text" th:field="*{user.username}" class="form-control"  placeholder="Nazwa użytkownika">
            <label class="form-control-label"> Zmień hasło: </label>
            <input type="text" th:field="*{user.password}" class="form-control"  placeholder="Hasło">
            <label class="form-control-label"> Zmień e-mail: </label>
            <input type="text" th:field="*{user.email}" class="form-control"  placeholder="E-Mail">
            <input type="hidden" th:field="*{user.role}" />
            <input type="hidden" th:field="*{user.enabled}" />
            <button type="submit" class="btn btn-info btn-sm">Zapisz</button>
        </div>
    </div>
</div>
</form>


<footer class="fixed-bottom">
    <div class="container text-center font-italic">
        <p class="h3"> © 2019 Copyright: <a class="text-warning font-weight-bold" th:href="@{https://github.com/Gorgios}"> GORGIOS </a></p>
    </div>
</footer>
</body>

</html>