<!DOCTYPE html>
<html lang = "pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Skoczek </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/jumper.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
\<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/jumper/}"> Strona główna </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/jumper/showData}"> Moje dane </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/jumper/training}"> Trening </a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" th:href="@{#}" th:text="${jumper}">  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li th:if="${user}" class="nav-item">
                <a class="nav-link" th:href="@{#}" th:text="${'Zalogowany jako:' + ' ' + user.username + ' (' + user.email + ')'}" />
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" th:text="${'Wyloguj'}" />
            </li>
        </ul>
    </div>
</nav>
<h1 >Twoje dane </h1>
    <div class="tableContener" >
    <table class="table table-hover table-active">
        <tr class ="table-primary" >
            <th scope="col">Imie</th>
            <td th:text="${message.firstName}"></td>
        </tr>
        <tr class = "table-primary">
            <th scope="col">Nazwisko</th>
            <td th:text="${message.lastName}"></td>
        </tr>
        <tr class = "table-primary">
            <th scope="col">Data urodzenia</th>
            <th scope="row" th:text="${message.birthDate}" ></th>
        </tr>
        <tr class="table-secondary">
            <th scope="col">Druzyna</th>
            <td th:text="${message.getTeam().name}"></td>
        </tr>
        <tr class="table-success">
            <th scope="col">Sila wybicia</th>
            <td th:text="${message.takeOf}"></td>
        </tr>
        <tr class="table-success">
            <th scope="col">Technika lotu</th>
            <td th:text="${message.technique}"></td>
        </tr>
        <tr class="table-success">
            <th scope="col">Technika ladowania</th>
            <td th:text="${message.landing}"></td>
        </tr>
        <tr class="table-warning">
            <th scope="col">Nazwa uzytkownika</th>
            <td th:text="${user.username}"></td>
        </tr>
        <tr class="table-warning">
            <th scope="col">Email</th>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
    </div>

                    <div >
                        <form action="#" th:action="@{/jumper/updateJumper}" method="POST">

                            <input type="hidden" name="jumperId" th:value="${message.id}" />
                            <button id="trenuj" type="submit" class="btn btn-info btn-sm">Modyfikuj</button>

                        </form>
                    </div>


</body>
</html>