.tableContener{
    margin-top: 40px;
    width: 70%;
    alignment: center;
    margin-left: 15%;
    margin-right: 15%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
table {
    border: 2px white;
}
body{
    background-image: url("../images/admin.jpg");
}
th {
    color: ivory;
    font-weight: bolder;
}
thead tr th{
    color: indigo;
    font-weight: bolder;
}
th:hover{
    color: darkred;
}
h1{
    text-align:center;
    color:crimson;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 20px;
}

#saveComp{
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    height: 40px;
}
.btn-group {
    text-align: center;
    width: 60%;
    margin-left:20%;
}
.form-control{
    background: #707070;
    color: darkblue;
}
form .form-control::-webkit-input-placeholder {
    color: darkblue;
    opacity: 1;
}

form .form-control::-moz-placeholder {
    color: darkblue;
    opacity: 1;
}
form .form-control:-ms-input-placeholder {
    color: darkblue;
    opacity: 1;
}
form .form-control:placeholder {
    color: darkblue;
    opacity: 1;
}