
p{
    color: navy;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    font-size:150%;
}
body {
    background-image: url("../images/tlo2.jpg");
}
#myModal{
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    height: 40px;
}
#trenuj{
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    height: 40px;
}


.progress{
    width: 60%;
    height: 50px;
    margin-left: 20%;
}
.tableContener{
    margin-top: 40px;
    width: 60%;
    alignment: center;
    margin-left: 20%;
    margin-right: 20%;
}
th {
    color: ivory;
    font-weight: bolder;
}
thead tr th{
    color: indigo;
    font-weight: bolder;
}
th:hover{
    color: darkred;
}
h1{
    text-align:center;
    color:crimson;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 20px;
}

#saveComp{
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    height: 40px;
}
.btn-group {
    margin-top: 40px;
    text-align: center;
    width: 60%;
    margin-left:20%;
}
